[submodule "color"]
	path = pkg/fatih/color
	url = https://github.com/fatih/color.git
[submodule "go-isatty"]
	path = pkg/mattn/go-isatty
	url = https://github.com/mattn/go-isatty.git
[submodule "go-colorable"]
	path = pkg/mattn/go-colorable
	url = https://github.com/mattn/go-colorable.git
[submodule "pkg/jsonparser"]
	path = pkg/jsonparser
	url = https://github.com/buger/jsonparser
